[layout] iframe {
  width: 640px;
  height: 480px;
}

body{
  font-family: Sans,Hiragino Kaku Gothic ProN,Meiryo,sans-serif !important;
  font-weight: normal !important;
}


#control {
  color: rgb(170, 170, 60);
}

.cover0 * {
  margin-left: 0;
  margin-right: 0;
  color: rgb(255, 255, 255);
}

.bullet0 * {
  color: rgb(0, 0, 0);
}

.bullet1 * {
  color: rgb(255, 255, 255);
}
